<div class="container mt-5">
  <h1>Les jeux du moment</h1>
  <section class="py-3">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="w row-cols-md-3 row-cols-xl-4 justify-content-center">
        <!-- Loop through games collection -->
        <% @games.each do |game| %>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img class="card-img-top" src="<%= game.image_url %>" alt="<%= game.name %>">
              <!-- Product details-->
              <div class="card-body p-1">
                <div class="d-flex txt-color">
                  <!-- Product name-->
                  <h5 class="fw-bolder"><%= game.name %></h5>
                  <!-- Product price-->
                  <%= game.price %>€
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-1 pt-0 border-top-0 bg-transparent">
                <div class="d-flex txt-color">
                  <a class="btn btn-outline-dark mt-auto" href="<%= game.link %>">
                    <%= game.price == 0 ? 'Gratuit' : 'Acheter' %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>